
<div class= "container">
  <div class="row">
      <div class="col-md-3">
        <div class="box">
          <p class= "text">
            ようこそ、<strong>ながのCAKE</strong>へ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、
            購入には会員登録が必要になります。
          </p>
        </div>

      </div>
  </div>

    <h4>新着商品</h4>
     <% @items.each do |item| %>
      <%= image_tag item.image, size: "200x200" %>

     <% end %>
</div>