
<div class= "container">
  <div class="row py-3">
      <div class="col-3 order-2" id="sticky-sidebar">
        <% @genres.each do |genre| %>
          <%= genre.name %>
        <% end %>
      </div>

      <div class="col" id="main">
        <p>
          ようこそ、<strong>ながのCAKE</strong>へ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、
          購入には会員登録が必要になります。
        </p>
      </div>
  </div>
    <h4>新着商品</h4>

</div>