<p>会員一覧</p>

<table class= "table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |costomer| %>
             <tr>
               <td><%= customer.id %></td>
               <td></td>
               <td><%= customer.email %></td>
               <td><%= customer.is_deleted %></td>
             </tr>
            <% end %>
          </tbody>
        </table>
