<p>商品一覧</p>
<table>
  <thead>
    <tr>
      <th></th>
      <th>商品id</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <td>
        <%= genre.id %>
      </td>
      <td>
        <% link_to neme,edit_admin_genre_path(genre.id) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>